<div class="container">

        <div *ngIf="selectedRfidMonitor && editMode != 'no'">
            <form [formGroup] = "rfidMonitorForm" (ngSubmit)="onSubmit()" >

                <div hidden><label>rfid_monitor_id: </label>{{selectedRfidMonitor.rfid_monitor_id}}</div>
                <div hidden><label>entity id: </label>{{selectedRfidMonitor.entity_id}}</div>

                <div *ngIf="editMode == 'insert'"><h2>Create new RFID Monitor</h2></div>
                <div *ngIf="editMode == 'update'"><h2>Edit existing RFID Monitor</h2></div>

                <div class="items">
                    <label class="badge">Monitor Code</label>
                    <input formControlName="monitorCode"  [(ngModel)]="selectedRfidMonitor.rfid_monitor_code" placeholder="Monitor Code"  required>
                </div>
                <div class="items">
                    <label class="badge">Description</label>
                    <input formControlName="description"  [(ngModel)]="selectedRfidMonitor.description" placeholder="Description"  required>
                </div>

                <button type="submit" class="btn btn-default"
                        [disabled]="!rfidMonitorForm.valid">Save
                </button>
                <button class="btn btn-default"
                        (click) = "onCancelMonitorEdit()">Cancel
                </button>
            </form>
        </div>

        <h2>Existing RFID Monitors</h2><button (click) = "onNewMonitor()" name="newMonitor">Create New</button>
        <br>

        <ul class="items">
            <li *ngFor="let rfidMonitor of rfidMonitors"
                [class.selected]="rfidMonitor === selectedRfidMonitor"
                (click)="onSelect(rfidMonitor)">
                <span class="badge" >{{rfidMonitor.rfid_monitor_code}}</span> {{rfidMonitor.description}}
            </li>
        </ul>


</div>

